@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* box-sizing: border-box; */
}



 



.player{
    /* background-color: rgb(230, 227, 227); */
    width: 48%;
    max-height: 30vh;
    /* margin-right: -3px; */
    transition: all 0.75s;
    border-radius: 10px;  
    height: 100vh;
   /* position: relative; */
    /* opacity: 0.5; */
    /* flex-direction: row; */
    /* padding:5px 5px; */
}
section{
    background-color: rgb(72, 72, 72);
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(255, 253, 253);
    /* display:flexbox; */
    /* flex-direction: row; */
   /* flex-direction: row; */
   
  }

.name{
    text-align:center;
    /* justify-content: center; */
   font-weight: 1000;
   font-size: 25px;
   opacity: 0.75;
   /* opacity:0.5; */
}
.hidden{
  display: none;
  color: white;
  
}
.score {
   text-align:center;
  font-size: 8rem;
  font-weight: 300;
  /* color: #ffffff; */
  margin-bottom: auto;
  opacity: 0.75;
}
.current{
  text-align: center;
}

.player--active {
  background-color: white;
  box-shadow: inset 5px 5px 25px rgb(255, 248, 248),0px 10px 25px rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(30, 29, 29);
  /* text-transform: uppercase; */

}
.player--active .name {
  font-weight:1500;
  font-size: 25px;
  opacity: 25;
}
.player--active .score {
  font-weight: 1000;
  color: rgb(0, 0, 0);
  opacity: 85;
}

.player--active .current {
  opacity: 25;
  font-size: 15px;
  font-weight: 1000;
  color: rgb(247, 5, 5);
  text-align:center;
}


.btn {
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
/* margin-top: 40px; */
  /* background-color: rgb(19, 16, 16); */
  background-color: rgba(191, 175, 175, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  /* box-shadow: 0 1.75rem 3.5rem rgba(255, 255, 255, 0.1); */
}
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 1rem;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  width: 200px;
  font-size:15px;
  height: 50px;
  position:absolute;
  /* margin-top: -59px; */
}
.btn--roll {
  margin: 150% 0%;
  position: absolute;
}
.btn--hold {
margin: 170% 0%;
  position: absolute;
  transform: translate(-50%, 5px);
}

.btn:active {
  transform: translate(-50%, 5px);
  box-shadow: 0 1rem 2rem white;
  
}

.btn:focus {
  outline: none;
}
img{
  /* display:grid; */
position:inherit;
/* margin: 50% 50%; */
margin-top: 120%;
left: 40%;
  align-items: center;
  justify-content: center;
  height: 10%;
  border-radius: 15px;

}


.player--winner {
  background-color: #a300bc;
}

.player--winner .name {
  font-weight: 700;
  color: #00fbff;
  opacity: 75;
}
.player--winner .score {
  font-weight: 700;
  color: #fffdfd;
  opacity: 75;
}
.player--winner .current {
  font-weight: 700;
  color: #57f403;
  opacity: 75;
}
.out{
  
  box-shadow: 0 1rem 2rem rgb(253, 2, 2);
}
.winName{
 
  /* display:none; */
  width: 60%;
  position: absolute;
  left: 20%;
position: relative;
top: 55%;
background-color: #ffffff;
border-radius: 5px;
color: #ff01fb;
}
.hearts::after {
  content: '😁';
  animation-name: hearts;
  animation-duration: 3s;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* min-height: 100vh; */
  height:90px;
  margin-top: 2rem;
}

.emoji {
  font-size: calc(100px + 4vw);
  min-width: 1.4em;
 /* margin:195% 0%; */
  text-align: center;
left: 0%;
position: relative;
top: 65%;
 
}
.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes hearts {
  16.666% {
      content: '😀';
  }

  33.333% {
      content: '😄';
  }

  50% {
      content: '😉';
  }

  66.666% {
      content: '😊';
  }

  83.333% {
      content: '🤗';
  }
}



/* container design */
body{
  background-color: #00fbff;
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* height: 100vh; */
  /* display: flex; */

}
.main{
  background-color: #353334;
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  height: auto;
  justify-content: center;
  /* width:100vh; */
  position:absolute;
left: 10%;
top: 10%;
}
.container{
  position:absolute;
  height: 85vh;
    background-color:#464246;
  transform: translate(-50%);
  /* top: 10%;
  bottom: 10; */
  left: 50%;
  /* padding: 35px 45px; */
  border-radius: 5px;
  /* box-sizing: border-box; */
  /* display: grid; */
  justify-items: center;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    height: 100vh;
  }
}

@media (min-width: 481px) {
  .container {
    width: 480px;
    height: 100vh;
  }
}

@media (min-width: 350px) {
  .container {
    width: 350px;
    height: 100vh;
  }
}

@media (min-width: px) {
  .container {
    width: 540px;
    height: 100vh;
  }
}
